* {
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 10px;
}
.navbar .btn-group {
  margin: 10px 0px;
}
.navbar .btn-group button {
  margin: 5px 10px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0px;
  width: 90px;
}
.cart {
  color: black;
}
.cart sup {
  color: red;
}
.cart .link{
  color: black;
  text-decoration: none;
}
.btn-group .link{
  color: white;
  text-decoration: none;
}
